# Rust's output directory
target

# Local docs
context/

# Local settings
.soroban
.stellar

# Generated reference bindings (from `make generate-interfaces`)
generated/

# Compiled binaries
/executor

# Misc
.DS_Store
*.out

# E2E test output topology
/tests/e2e/env/*-out.toml
/tests/env/*-out.toml